<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="">
    </a>
    <div class="form-group search-box">
      <span class=" form-control-feedback"> <img src="assets/images/Shape.png" class="logo" alt=""></span>
      <input #box type="text" class="form-control search-input py-6" (keydown.enter)="onEnter(box.value)" placeholder="Search">
    </div>
</nav>
  
