<div class="row wrapper">
    <div class="col-md-4 col-sm-3 main">
      <div class="my-2 list-style" *ngFor="let food of venueList; let i=index">
        <div class="row">
          <div class="col-md-3 col-expand-sm">
            <div *ngIf="food?.url; else staticphoto">
              <img src={{food.url}} alt="" class="img-fluid img-avatar w-150 pl-2 mb-2">
            </div>
            <ng-template #staticphoto>
              <img src="https://avipizza.ca/img/placeholders/xgrey_fork_and_knife.png.pagespeed.ic.w93dy8J8rD.png" alt=""
                class="img-fluid img-avatar pl-2 mb-2">
            </ng-template>
          </div>
          <div class="col-md-7 col-expand-sm">
            <a routerLink="/details" [queryParams]="{ venueId: food?.id }">
              {{i+1}}. {{food?.name}}<br /></a>
            {{food?.categories[0]?.name}}<br />
            {{ food?.location?.distance }} {{food?.location?.city}}<br />
          </div>
          <div class="col-md-2 col-expand-sm">
            <div *ngIf="food?.rating;">
              <button type="button" class="btn btn-warning btn-sm rating" aria-label="Left Align">{{food?.rating}}</button>
            </div>
          </div>
        </div>
        <div class="row pl-1">
          <div class="col">
            {{food?.topTip}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-8 sidebar">
      <agm-map [zoom]="15" [(latitude)]="lat" [(longitude)]="lng">
        <agm-marker [(latitude)]="lat" [(longitude)]="lng"></agm-marker>
      </agm-map>
      
    </div>
  </div>
  
