<app-swiper></app-swiper>
<div class="sides">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="hotel-name">{{ venueData?.response?.venue?.name }}</h2>
        <p class="hotel-detail">
          {{venueData?.response?.venue?.categories[0]?.name}}<br />
          {{venueData?.response?.venue?.location?.city}}<br />
        </p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <h4 class="info">Info
        </h4>
        <h6 class="address">ADDRESS
        </h6>
        <p class="hotel-address">
          {{ venueData?.response?.venue?.location.formattedAddress }}
        </p>
        <hr class="ml-0 line-style">

        <h6 class="hours">HOURS
        </h6>
        <p class="time">
          09.00 AM to 10.00 PM
        </p>

        <hr class="ml-0 line-style">
        <h6 class="category">CATEGORY
        </h6>
        <p class="category-detail">
          {{ venueData?.response?.venue?.categories[0].name }}
        </p>
      </div>


      <div class="col-md-6 slidebar">
        <agm-map [(latitude)]="lat" [(longitude)]="lng">
          <agm-marker [(latitude)]="lat" [(longitude)]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="line"> </div>
    </div>



    <div class="mt-2" *ngFor="let customer of userReviews?.response?.tips?.items">
      <div class="row list-style">
        <div class="col-md-1">
          <img [src]="customer?.user?.photo?.prefix+'300x400'+customer?.user?.photo?.suffix" alt="customer" />
        </div>
        <div class="col-md-5">
          <div class="info-header">
            <h5 class="customer-name"> {{customer?.user?.firstName + " " + customer?.user?.lastName}}</h5>
            <p class="date">{{customer?.createdAt}}</p>
            <p class="comment">{{customer?.text}}</p>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</div>
