.sides {
    background-color: #e8e8e8;
  }
  
  .hotel-name {
    height: 34px;
    color: #2956e7;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
  }
  
  .hotel-detail {
    height: 35px;
    color: #959BA4;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
  }
  
  .line-style {
    width: 50%;
  }
  
  .list-style {
   border-bottom: 0.5px solid rgba(131, 126, 126, 0.596);
  }
  
  .info {
    height: 22px;
    width: 31px;
    color: #0076ff;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  .address {
    height: 14px;
    width: 59px;
    color: #9b9b9b;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  
  .hotel-address {
    height: 34px;
    width: 239px;
    color: #4f585d;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
  }
  
  .hours {
    height: 14px;
    width: 44px;
    color: #9b9b9b;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  
  .time {
    height: 17px;
    width: 335px;
    color: #4f585d;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
  }
  
  .category {
    height: 14px;
    width: 67px;
    color: #9b9b9b;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  
  .category-detail {
    height: 34px;
    width: 232px;
    color: #4f585d;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
  }
  
  .customer-name {
    height: 19px;
    color: #4a4a4a;
    font-family: "SF UI Display";
    font-size: 15.36px;
    font-weight: 500;
    line-height: 19px;
  
  }
  
  .date {
    height: 14px;
    width: 80px;
    color: #9B9B9B;
    font-family: "SF UI Display";
    font-size: 11.52px;
    line-height: 14px;
  
  }
  
  .comment {
    color: #4F585D;
    font-family: "SF UI Display";
    font-size: 14px;
    line-height: 16px;
  
  }
  
  .container-fluid {
    width: 70%;
    background-color: white;
    padding-top: 15px;
  }
  
  .sidebar {
    height: 15vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  agm-map {
    height: 25vh;
    width: 90%;
  }
  
  img {
    padding: 0px;
    width: 50px;
    height: 50px;
  }
  
  .line {
    box-sizing: border-box;
    height: 1px;
    width: 960px;
    border: 1px solid #979797;
    opacity: 0.2;
  }
  